/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding-top: 100px;
}

main {
  padding: 2rem 1rem;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  color: #222;
}

p {
    color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px; /* Adjust this value for the desired offset */
}

/* Responsive Design */
@media (max-width: 768px) {
  .text-and-image {
    flex-direction: column;
  }

  .progress-info {
    flex-direction: column;
    text-align: center;
  }
}


