<footer class="footer-section">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#package" class="nav-link px-2 text-body-secondary">Packages</a></li>
      <li class="nav-item"><a href="#faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="/auth/login-page" class="nav-link px-2 text-body-secondary">Login</a></li>
      <li class="nav-item"><a href="/auth/register-page" class="nav-link px-2 text-body-secondary">Register</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2025 Miskolci Herman Ottó Gimnázium.</p>
    <p class="text-center text-body-secondary">All Rights Reserved.</p>
  </div>
</footer>
